APP_NAME=StudyPilot AI API
APP_VERSION=0.1.0
APP_ENV=development
API_V1_PREFIX=/api/v1
DATABASE_URL=sqlite:///./studypilot.db
REDIS_URL=redis://localhost:6379/0
OPENAI_API_KEY=replace-me
WATSONX_APIKEY=your_ibm_watsonx_api_key
WATSONX_PROJECT_ID=your_ibm_watsonx_project_id
WATSONX_URL=https://us-south.ml.cloud.ibm.com
JWT_SECRET_KEY=replace-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
